.grid {
    //background: lightcyan;
    border: #ccc dotted 1px;
    //min-height: 500px;
    // min-height: calc(100vh - 110px);
    // height: calc(100vh - 110px);
    .tip {
        text-align: center;
    }
    .grid-stack-item-content {
        background-color: #9caabc;
        float: left;
        font-size: 29px;
        margin: auto 5px; //background: none;
        svg.icon {
            display: none;
        }
    }
}

.grid-stack-item-removing {
    opacity: 0.5;
}

.bar-right-line .grid-stack-item {
    display: inline-block;
    .grid-stack-item-content {
        background: none;
        /* svg.icon {
            display: block;
        } */
        .panel {
            display: none; //visibility: hidden;
        }
    }
}

.grid-stack-control {
    display: inline-block;
    background-color: white;
    border: 1px solid #cbcbcb;
    height: 42px;
    position: absolute;
    z-index: 1000;
}

.grid-stack-control-title {
    top: 0;
    background: #474747;
    width: 100%;
    height: 20px;
    color: #fff;
    line-height: 20px;
    padding: 0 10px;
}

.grid-stack-control-bar {
    display: inline-block;
    top: 20px;
    background: white;
    width: 100%;
    height: 20px;
    span,
    svg {
        background-color: white;
        display: block;
        float: left;
        margin: 0 2px;
        font-size: 14px;
    }
}

.chart {
    width: 100%;
    height: 100%;
}