#grid2 {
    background: lightcyan;
}

.grid-stack-item-content {
    float: left;
    font-size: 29px;
    margin: auto 5px;
    background: none;
}

#grid2 .grid-stack-item-content {
    background-color: #9caabc;
}

.grid-stack-item-removing {
    opacity: 0.5;
}

.bar-right-line .grid-stack-item {
    display: inline-block;
}

.bar-right-line .grid-stack-item .grid-stack-item-content {
    background: none;
}

.grid-stack-control {
    display: inline-block;
    background-color: white;
    border: 1px solid #cbcbcb;
    height: 42px;
    position: absolute;
    z-index: 1000;
}

.grid-stack-control-title {
    top: 0;
    background: #474747;
    width: 100%;
    height: 20px;
    color: #fff;
    line-height: 20px;
    padding: 0 10px;
}

.grid-stack-control-bar {
    display: inline-block;
    top: 20px;
    background: white;
    width: 100%;
    height: 20px;
    span,
    svg {
        background-color: white;
        display: block;
        float: left;
        margin: 0 2px;
        font-size: 14px;
    }
}

.select {
    float: none !important;
}

.select-hide {
    display: none !important;
}

.split {
    background-color: #e0e0e0 !important;
    margin: 4px 5px !important;
    height: 12px;
    width: 2px;
}

/* add */

.pad {
    padding-right: 100px;
    padding-left: 120px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.banner {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #ccc;
    z-index: 1000;
    span {
        line-height: 16px;
        padding: 5px 10px;
        margin: 5px 5px;
    }
}

.bar-left {
    /* background-color: #ccc; */
    position: fixed;
    top: 40px;
    left: 0;
    width: 110px;
    border-right: 1px solid #999;
}

.bar-right {
    border: 1px solid #999;
    position: fixed;
    top: 45px;
    right: 10px;
    width: 80px;
}

.bar-right-line {
    margin: 10px 0;
}

.button {
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.close{
    display:none;
}