@import "../component/two2.scss";
@import "../plugin/gridstack-extra.css";
@import "../plugin/gridstack.css";
@import "../plugin/iconfont-extra.css";
$bg-color: #ecf8ff;

.container {
  width: 100%;
  overflow: hidden;
  .banner {
    width: 100%;
    overflow: hidden;
  }
  .form1 {
    background: url(../../images/default.png) 0 0 /100% 100% no-repeat;
    overflow:hidden;
    padding:0 10px;
  }
}