/* 网站图标
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import '../font/RESiteIcon/iconfont.css';
@font-face {
  font-family: "re-site-icon";
  src: url('../font/RESiteIcon/iconfont.eot?t=1486351964218');
  /* IE9*/
  src: url('../font/RESiteIcon/iconfont.eot?t=1486351964218#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/RESiteIcon/iconfont.woff?t=1486351964218') format('woff'), /* chrome, firefox */
  url('../font/RESiteIcon/iconfont.ttf?t=1486351964218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/RESiteIcon/iconfont.svg?t=1486351964218#re-site-icon') format('svg');
  /* iOS 4.1- */
}

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-size: 10px;
}

body {
  color: rgba($black, .8);
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

a {
  color: $blue;
  &:hover,
  &:focus {
    color: $blue;
  }
}